<h2 class = head2>
  Fixtures
</h2>

<table class = head2>
    
  <tr *ngFor = "let matches of match">
    <td> Match Day {{matches.matchday}} </td>
    <td> {{matches.homeTeam.name}}</td>
    <td> {{matches.score.fullTime.homeTeam}}</td>
    <td> {{matches.score.fullTime.awayTeam}}</td>
    <td> {{matches.awayTeam.name}}</td>
  </tr>
</table>