<h2 class = head2>
  Santos FC Players
</h2>

<table class = head2>
  <tr>
    <th>Player Name</th> 
    <th> Postition</th>
    <th>Nationality</th> 
  </tr>
  <tr *ngFor = "let player of squad">
    <td>{{player.name}}</td> 
    <td>{{player.position}} </td> 
    <td> {{player.nationality}} </td>
  </tr>
</table>