<h2 class = head2> Results </h2>
<table class = head2>
    
  <tr *ngFor = "let match of matches">
    <td> Match Day {{match.matchday}} </td>
    <td> {{match.homeTeam.name}}</td>
    <td> {{match.score.fullTime.homeTeam}}</td>
    <td> {{match.score.fullTime.awayTeam}}</td>
    <td> {{match.awayTeam.name}}</td>
  </tr>
</table>