<h2 class=head2> About Santos </h2>
<p class=head2>

  Santos Futebol Clube, commonly known simply as Santos, is a Brazilian sports club based in Vila Belmiro, a bairro in
  the city of Santos. It plays in the Paulistão, the State of São Paulo's premier state league, as well as the
  Brasileirão, the top tier of the Brazilian football league system.
  <br>

  The club was founded in 1912 by the initiative of three sports enthusiasts from Santos by Raimundo Marques, Mário
  Ferraz de Campos, and Argemiro de Souza Júnior as a response to the lack of representation the city had in football.
  Since then, Santos became one of Brazil's most successful clubs, becoming a symbol of Jogo Bonito (English: the
  Beautiful Game) in football culture, hence the motto "Técnica e Disciplina" (Technique and discipline). The most
  recognized Santista anthem is the "Leão do Mar" written by Mangeri Neto. This was largely thanks to the Peixe's golden
  generation of the 1960s which contained players such as Gilmar, Mauro Ramos, Mengálvio, Coutinho, Pepe and Pelé, named
  the "Athlete of the Century" by the International Olympic Committee, and widely regarded as the best and most
  accomplished footballer in the game's history. Os Santásticos, considered by some the best club team of all times,
  won a total of 24 titles during that decade including five consecutive Brasileirões, a feat that remains unequaled
  today. Os Santásticos won four competitions in 1962, thus completing a quadruple, comprising the Paulistão, the
  Brasileirão, the Copa Libertadores and the European/South American Cup.

</p>