<div class = "entire-page">
    <div class = "container">
            <h1 class="title m pt pb"> <img class="mr alg" src="../assets/BSA_Logo.png" alt= "Campeonato Brasileiro Série A"  style="width:100px;height:110px;" >Campeonato Brasileiro Série A </h1>
            
                    <ul>
                        <li><a routerLink="/components/home" >H-2-H</a></li>
                        <li><a routerLink="/components/fixtures">Fixtures</a></li>
                        <li><a routerLink="/components/standings">Standings</a></li>
                        <li><a routerLink="/components/results">Results</a></li>
                        <li><a routerLink="/components/players">Players</a></li>
                        <li><a routerLink="/components/about">About</a></li>
                        
                     </ul>
            
                <div class = "margin">
                    <router-outlet></router-outlet>    
               </div>

    </div>
          
 
</div>



    
  